<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <h1>Index Page</h1>
        <br>
        <p>Index page running.</p>
    </body>
</html>