<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <h1>Index Page</h1>
        <h3><%= message %></h3>
        <br>
        <% for(var i = 0; i < name.length; i++){ %>
        <li><%= name[i] %></li>
        <% } %>
        <p>Index page running.</p>
    </body>
</html>