<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
        <h1>Login Page</h1>
        <br>
        <p>Login page running.</p>
    </body>
</html>